@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    background-color: #252525;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
}

#click-button,
#reset-button,
#upgrade-button {
    cursor: pointer;
    padding: 10px;
    width: 100px;
    color: white;
    background-color: #363636;
    border: 2px solid rgb(112, 105, 112);
    border-radius: 12px;
    transition: filter 0.5s ease-in-out, transform 0.01s ease-in-out;
}

#upgrade-button {
    width: fit-content;
}

#click-button:hover,
#reset-button:hover,
#upgrade-button:hover {
    filter: drop-shadow(0 0 5px rgba(90, 84, 90, 0.8));
}

#click-button:active,
#reset-button:active,
#upgrade-button:active {
    transform: scale(0.95);
}

#upgrade-cost {
    background-color: #363636;
}

.game-container {
    margin-left: auto;
    margin-right: auto;
    background-color: #363636;
    width: 40vh;
    border-radius: 30px;
    box-shadow: 0 0 6px #666666;
}