@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    background-color: #252525;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1,
p,
span {
    color: white;
    text-shadow: 0 0 2px white;
}

h1 {
    font-size: 44px;
}

a {
    text-decoration: none;
    transition: filter 0.5s ease-in-out;
}

a:hover,
.link-img:hover,
.link-text:hover {
    filter: drop-shadow(0 0 10px rgba(134, 63, 201, 0.521));
}

hr {
    color: white;
    width: 15%;
    margin-bottom: 25px;
    height: 2px;
    background-color: white;
    border-radius: 25px;
}

.link-container,
.game-container {
    background-color: #363636;
    width: 40vh;
    border-radius: 30px;
    box-shadow: 0 0 6px #666666;
}

.game-container {
    font-size: 24px;
}

.link {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.link-img {
    cursor: pointer;
    width: 64px;
    height: auto;
    transition: filter 0.5s ease-in-out, transform 0.1s ease-in-out;
}

.divider {
    cursor: default;
    position: relative;
    top: -28px;
    width: 2px;
    height: 64px;
    background-color: white;
    border-radius: 25px;
    margin: 0 20px;
    display: inline-block;
    vertical-align: middle;
}

.logo-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#click-button,
#upgrade-button {
    background-color: #363636;
    color: white;
    width: fit-content;
    padding: 15px;
    border: 2px solid #666666;
    border-radius: 12.5px;
    font-size: 18px;
    filter: drop-shadow(0 0 3px rgba(102, 102, 102, 0.7));
    transition: filter 0.2s ease-in-out, transform 0.1s ease-in-out;
    cursor: pointer;
}

#click-button:hover,
#upgrade-button:hover {
    filter: drop-shadow(0 0 10px rgba(102, 102, 102, 0.7));
}

#click-button:active,
#upgrade-button:active,
.link-img:active {
    transform: scale(0.95);
}

#upgrade-cost {
    text-shadow: none;
}